<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odor - Vape Store WooCommerce HTML Template</title>
    <!-- Favicon img -->
    <link rel="shortcut icon" href="assets/images/favicon.png">
    <!-- Bootstarp min css -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- All min css -->
    <link rel="stylesheet" href="assets/css/all.min.css">
    <!-- Swiper bundle min css -->
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
    <!-- Magnigic popup css -->
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <!-- Animate css -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="assets/css/animate.css">
    <!-- Nice select css -->
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <!-- Style css -->
    
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
<!-- Header area start here -->
<div class="top__header pt-30 pb-30">
    <div class="container">
        <div class="top__wrapper">
            <!-- Logo -->
            <a href="/" class="main__logo">
                <%= image_tag "logo/logo.svg", alt: "Logo" %>
            </a>
            
            <!-- Search bar -->
<div class="search__wrp">
    <%= form_tag '/search', method: :get, class: "search-form" do %>
        <input type="text" name="query" placeholder="Search for" aria-label="Search">
        <button type="submit"><i class="fa-solid fa-search"></i></button>
    <% end %>
</div>

            
            <!-- Account and Cart Section -->
            <div class="account__wrap">
                <div class="account d-flex align-items-center">
                    <!-- User icon -->
                    <div class="user__icon">
                        <%= link_to '#0', class: 'user-icon' do %>
                            <i class="fa-regular fa-user"></i>
                        <% end %>
                    </div>
                    <%= link_to '#0', class: 'acc__cont' do %>
                        <span>My Account</span>
                    <% end %>
                </div>
                
                <!-- Cart -->
                <div class="cart d-flex align-items-center">
                    <span class="cart__icon">
                        <i class="fa-regular fa-cart-shopping"></i>
                    </span>
                    <%= link_to '#0', class: 'c__one' do %>
                        <span>$0.00</span>
                    <% end %>
                    <span class="one">0</span>
                </div>

                <!-- Flag selection -->
                <div class="flag__wrap">
                    <div class="flag">
                        <%= image_tag "flag/us.png", alt: "US Flag" %>
                    </div>
                    <%= select_tag :flag, options_for_select([['USA', 0], ['Canada', 1], ['Australia', 2], ['Germany', 3]]), include_blank: true %>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Header area end here -->

    <header class="header-section">
    <div class="container">
        <div class="header-wrapper">
            <!-- Hamburger menu -->
            <div class="header-bar d-lg-none">
                <span></span>
                <span></span>
                <span></span>
            </div>
            
            <!-- Main Menu -->
            <ul class="main-menu">
                <li>
                    <a href="#0">Home <i class="fa-regular fa-angle-down"></i></a>
                    <ul class="sub-menu">
                        <li class="subtwohober">
                            <%= link_to "Home One", root_path %>
                        </li>
                        <li class="subtwohober">
                            <%= link_to "Home One Light", index_light_path %>
                        </li>
                        <li class="subtwohober">
                            <%= link_to "Home Two", index_2_path %>
                        </li>
                        <li class="subtwohober">
                            <%= link_to "Home Two Light", index_2_light_path %>
                        </li>
                    </ul>
                </li>
                <li>
                    <%= link_to "About Us", about_path %>
                </li>
                <li>
                    <a href="#0">Pages <i class="fa-regular fa-angle-down"></i></a>
                    <ul class="sub-menu">
                        <li class="subtwohober">
                            <%= link_to "Shop Leftbar", shop_path %>
                        </li>
                        <li class="subtwohober">
                            <%= link_to "Shop Rightbar", shop_2_path %>
                        </li>
                        <li class="subtwohober">
                            <%= link_to "Shop Single", shop_single_path %>
                        </li>
                        <li class="subtwohober">
                            <%= link_to "Cart Page", cart_path %>
                        </li>
                        <li class="subtwohober">
                            <%= link_to "Checkout Page", checkout_path %>
                        </li>
                        <li class="subtwohober">
                            <%= link_to "Register", register_path %>
                        </li>
                        <li class="subtwohober">
                            <%= link_to "Login", login_path %>
                        </li>
                        <li class="subtwohober">
                            <%= link_to "404 Error", error_path %>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#0">Blog <i class="fa-regular fa-angle-down"></i></a>
                    <ul class="sub-menu">
                        <li class="subtwohober">
                            <%= link_to "Blog Standard", blog_path %>
                        </li>
                        <li class="subtwohober">
                            <%= link_to "Blog Grid", blog_grid_path %>
                        </li>
                        <li class="subtwohober">
                            <%= link_to "Blog List", blog_list_path %>
                        </li>
                        <li class="subtwohober">
                            <%= link_to "Blog Single", blog_single_path %>
                        </li>
                    </ul>
                </li>
                <li>
                    <%= link_to "Contact Us", contact_path %>
                </li>
            </ul>

            <!-- Shipping and Pickup Information -->
            <div class="shipping__item d-none d-sm-flex align-items-center">
                <div class="menu__right d-flex align-items-center">
                    <div class="thumb">
                        <%= image_tag 'flag/picking.png', alt: 'Picking Up' %>
                    </div>
                    <div class="content">
                        <p>Picking up?</p>
                        <div class="items">
                            <select class="form__select p-0">
                                <option value="1">Select Store</option>
                                <option value="2">Store One</option>
                                <option value="3">Store Two</option>
                                <option value="3">Store Three</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="menu__right d-flex align-items-center">
                    <div class="thumb">
                        <%= image_tag 'flag/shipping.png', alt: 'Shipping' %>
                    </div>
                    <div class="content">
                        <p>Free Shipping <br> on order <strong>over $100</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


    

    <!-- Mouse cursor area start here -->
    <div class="mouse-cursor cursor-outer"></div>
    <div class="mouse-cursor cursor-inner"></div>
    <!-- Mouse cursor area end here -->

    <main>

    <!-- Banner area start here -->
    <section class="banner-two">
        <!-- Left shape -->
        <div class="banner-two__shape-left d-none d-lg-block wow bounceInLeft" data-wow-duration="1s" data-wow-delay=".5s"> 
            <%= image_tag "shape/vape1.png", alt: "shape" %>
        </div>
        
        <!-- Right shape -->
        <div class="banner-two__shape-right d-none d-lg-block wow bounceInRight" data-wow-duration="1s" data-wow-delay=".1s">
            <%= image_tag "shape/vape2.png", alt: "shape", class: "sway_Y__animation" %>
        </div>
    
        <!-- Slider -->
        <div class="swiper banner-two__slider">
            <div class="swiper-wrapper">
                <!-- First Slide -->
                <div class="swiper-slide">
                    <div class="slide-bg" style="background-image: url('<%= asset_path('1.png') %>');"></div>
                    <div class="container">
                        <div class="banner-two__content">
                            <h4 data-animation="fadeInUp" data-delay="1s"><%= image_tag 'icon/fire.svg', alt: 'icon' %> GET <span class="primary-color">25% OFF</span> NOW</h4>
                            <h1 data-animation="fadeInUp" data-delay="1.3s">Find everything <br> for <span class="primary-color">fashion</span></h1>
                            <p class="mt-40" data-animation="fadeInUp" data-delay="1.5s">Shop the latest styles with ease, from casual wear to formal outfits. <br> Fashion for every occasion and every season.</p>
                            <div class="banner-two__info mt-30" data-animation="fadeInUp" data-delay="1.7s">
                                <span class="mb-10">Starting Price</span>
                                <h3>$99.00</h3>
                            </div>
                            <div class="btn-wrp mt-65">
                                <%= link_to 'Shop Now', shop_path, class: 'btn-one', data: { animation: 'fadeInUp', delay: '1.8s' } %>
                                <%= link_to 'View Details', shop_single_path, class: 'btn-one-light ml-20', data: { animation: 'fadeInUp', delay: '1.9s' } %>
                            </div>
                        </div>
                    </div>
                </div>
    
                <!-- Second Slide -->
                <div class="swiper-slide">
                    <div class="slide-bg" style="background-image: url('<%= asset_path('banner/banner-two-image2.jpg') %>');"></div>
                    <div class="container">
                        <div class="banner-two__content">
                            <h4 data-animation="fadeInUp" data-delay="1s"><%= image_tag 'icon/fire.svg', alt: 'icon' %> GET <span class="primary-color">25% OFF</span> NOW</h4>
                            <h1 data-animation="fadeInUp" data-delay="1.3s">Find everything <br> for <span class="primary-color">fashion</span></h1>
                            <p class="mt-40" data-animation="fadeInUp" data-delay="1.5s">Shop the latest styles with ease, from casual wear to formal outfits. <br> Fashion for every occasion and every season.</p>
                            <div class="banner-two__info mt-30" data-animation="fadeInUp" data-delay="1.7s">
                                <span class="mb-10">Starting Price</span>
                                <h3>$99.00</h3>
                            </div>
                            <div class="btn-wrp mt-65">
                                <%= link_to 'Shop Now', shop_path, class: 'btn-one', data: { animation: 'fadeInUp', delay: '1.8s' } %>
                                <%= link_to 'View Details', shop_single_path, class: 'btn-one-light ml-20', data: { animation: 'fadeInUp', delay: '1.9s' } %>
                            </div>
                        </div>
                    </div>
                </div>
    
                <!-- Third Slide -->
                <div class="swiper-slide">
                    <div class="slide-bg" style="background-image: url('<%= asset_path('banner/banner-two-image3.jpg') %>');"></div>
                    <div class="container">
                        <div class="banner-two__content">
                            <h4 data-animation="fadeInUp" data-delay="1s"><%= image_tag 'icon/fire.svg', alt: 'icon' %> GET <span class="primary-color">25% OFF</span> NOW</h4>
                            <h1 data-animation="fadeInUp" data-delay="1.3s">Find everything <br> for <span class="primary-color">fashion</span></h1>
                            <p class="mt-40" data-animation="fadeInUp" data-delay="1.5s">Shop the latest styles with ease, from casual wear to formal outfits. <br> Fashion for every occasion and every season.</p>
                            <div class="banner-two__info mt-30" data-animation="fadeInUp" data-delay="1.7s">
                                <span class="mb-10">Starting Price</span>
                                <h3>$99.00</h3>
                            </div>
                            <div class="btn-wrp mt-65">
                                <%= link_to 'Shop Now', shop_path, class: 'btn-one', data: { animation: 'fadeInUp', delay: '1.8s' } %>
                                <%= link_to 'View Details', shop_single_path, class: 'btn-one-light ml-20', data: { animation: 'fadeInUp', delay: '1.9s' } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Arrow buttons -->
        <div class="banner-two__arry-btn">
            <button class="arry-prev mb-15 banner-two__arry-prev"><i class="fa-light fa-chevron-left"></i></button>
            <button class="arry-next active banner-two__arry-next"><i class="fa-light fa-chevron-right"></i></button>
        </div>
    </section>
    <!-- Banner area end here -->
    

<!-- Category area start here -->
<section class="category-area category-two pb-130 pt-130">
    <div class="container">
        <div class="bor-bottom pb-130">
            <div class="sub-title text-center mb-65 wow fadeInUp" data-wow-delay=".1s">
                <h3><span class="title-icon"></span> Our Top Categories <span class="title-icon"></span></h3>
            </div>
            <div class="swiper category__slider">
                <div class="swiper-wrapper">
                    <!-- Category 1 -->
                    <div class="swiper-slide">
                        <div class="category__item category-two__item text-center">
                            <%= link_to "shop.html", class: "category__image d-block" do %>
                                <%= image_tag "category/category-image1.png", alt: "Men's Clothing" %>
                                <div class="category-icon">
                                    <%= image_tag "category/category-icon1.png", alt: "Men's Clothing Icon" %>
                                </div>
                            <% end %>
                            <h4 class="mt-30"><%= link_to "Men's Clothing", "shop.html" %></h4>
                        </div>
                    </div>

                    <!-- Category 2 -->
                    <div class="swiper-slide">
                        <div class="category__item category-two__item text-center">
                            <%= link_to "shop.html", class: "category__image d-block" do %>
                                <%= image_tag "category/category-image2.png", alt: "Women's Clothing" %>
                                <div class="category-icon">
                                    <%= image_tag "category/category-icon2.png", alt: "Women's Clothing Icon" %>
                                </div>
                            <% end %>
                            <h4 class="mt-30"><%= link_to "Women's Clothing", "shop.html" %></h4>
                        </div>
                    </div>

                    <!-- Category 3 -->
                    <div class="swiper-slide">
                        <div class="category__item category-two__item text-center">
                            <%= link_to "shop.html", class: "category__image d-block" do %>
                                <%= image_tag "category/category-image3.png", alt: "Casual Wear" %>
                                <div class="category-icon">
                                    <%= image_tag "category/category-icon3.png", alt: "Casual Wear Icon" %>
                                </div>
                            <% end %>
                            <h4 class="mt-30"><%= link_to "Casual Wear", "shop.html" %></h4>
                        </div>
                    </div>

                    <!-- Category 4 -->
                    <div class="swiper-slide">
                        <div class="category__item category-two__item text-center">
                            <%= link_to "shop.html", class: "category__image d-block" do %>
                                <%= image_tag "category/category-image4.png", alt: "Formal Wear" %>
                                <div class="category-icon">
                                    <%= image_tag "category/category-icon4.png", alt: "Formal Wear Icon" %>
                                </div>
                            <% end %>
                            <h4 class="mt-30"><%= link_to "Formal Wear", "shop.html" %></h4>
                        </div>
                    </div>

                    <!-- Category 5 -->
                    <div class="swiper-slide">
                        <div class="category__item category-two__item text-center">
                            <%= link_to "shop.html", class: "category__image d-block" do %>
                                <%= image_tag "category/category-image5.png", alt: "Sportswear" %>
                                <div class="category-icon">
                                    <%= image_tag "category/category-icon5.png", alt: "Sportswear Icon" %>
                                </div>
                            <% end %>
                            <h4 class="mt-30"><%= link_to "Sportswear", "shop.html" %></h4>
                        </div>
                    </div>

                    <!-- Category 6 -->
                    <div class="swiper-slide">
                        <div class="category__item category-two__item text-center">
                            <%= link_to "shop.html", class: "category__image d-block" do %>
                                <%= image_tag "category/category-image6.png", alt: "Accessories" %>
                                <div class="category-icon">
                                    <%= image_tag "category/category-icon6.png", alt: "Accessories Icon" %>
                                </div>
                            <% end %>
                            <h4 class="mt-30"><%= link_to "Accessories", "shop.html" %></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Category area end here -->


<!-- View area start here -->
<section class="view-area">
    <div class="bg-image view__bg" data-background="assets/images/bg/view-bg.jpg"></div>
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-6 wow fadeInLeft" data-wow-delay=".1s">
                <div class="view__left-item">
                    <div class="image">
                        <%= image_tag "view/view-image1.jpg", alt: "image" %>
                    </div>
                    <div class="view__left-content sub-bg">
                        <h2><a class="primary-hover" href="shop-single.html">Exclusive Fashion Bundles</a></h2>
                        <p class="fw-600">Discover our exclusive fashion bundles. Perfect for any season, get a complete look with the best outfits!</p>
                        <a class="btn-two" href="shop-single.html"><span>Shop Now</span></a>
                        <a class="off-btn" href="#0"><img class="mr-10" src="assets/images/icon/fire.svg"
                                alt="icon"> GET <span class="primary-color">25% OFF</span> NOW</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="view__item mb-25 wow fadeInDown" data-wow-delay=".2s">
                    <div class="view__content">
                        <h3><a class="primary-hover" href="shop-single.html">New Arrivals for Women</a></h3>
                        <p>Shop the latest trends for women. From casual wear to office attire, find the perfect outfit for any occasion.</p>
                        <a class="btn-two" href="shop-single.html"><span>Shop Now</span></a>
                    </div>
                    <div class="view__image">
                        <%= image_tag "view/view-image2.jpg", alt: "image" %>
                    </div>
                </div>
                <div class="view__item wow fadeInUp" data-wow-delay=".3s">
                    <div class="view__content">
                        <h3><a class="primary-hover" href="shop-single.html">Summer Essentials</a></h3>
                        <p>Get ready for the summer with our curated collection of lightweight shirts, dresses, and more!</p>
                        <a class="btn-two" href="shop-single.html"><span>Shop Now</span></a>
                    </div>
                    <div class="view__image">
                        <%= image_tag "view/view-image3.jpg", alt: "image" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- View area end here -->


        <!-- Product area start here -->
        <section class="product-area pt-130 pb-130 mt-130">
            <div class="container">
                <div
                    class="product__wrp pb-30 mb-65 bor-bottom d-flex flex-wrap align-items-center justify-content-xl-between justify-content-center">
                    <div class="section-header d-flex align-items-center wow fadeInUp" data-wow-delay=".1s">
                        <span class="title-icon mr-10"></span>
                        <h2>latest arrival products</h2>
                    </div>
                    <ul class="nav nav-pills mt-4 mt-xl-0">
                        <li class="nav-item wow fadeInUp" data-wow-delay=".1s">
                            <a href="#latest-item" data-bs-toggle="tab" class="nav-link px-4 active">
                                latest item
                            </a>
                        </li>
                        <li class="nav-item wow fadeInUp" data-wow-delay=".2s">
                            <a href="#top-ratting" data-bs-toggle="tab" class="nav-link px-4 bor-left bor-right">
                                top ratting
                            </a>
                        </li>
                        <li class="nav-item wow fadeInUp" data-wow-delay=".3s">
                            <a href="#featured-products" data-bs-toggle="tab" class="nav-link ps-4">
                                featured products
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div id="latest-item" class="tab-pane fade show active">
                        <div class="row g-4">
                            
                        <div class="col-xxl-3 col-xl-4 col-md-6">
                        <div class="product__item bor">
                          <a href="#0" class="wishlist"><i class="fa-regular fa-heart"></i></a>
                          <a href="shop-single.html" class="product__image pt-20 d-block">
                            <%= image_tag('product/product-image2.png', class: 'font-image', alt: 'image') %>
                            <%= image_tag('product/product-image4.png', class: 'back-image', alt: 'image') %>
                          </a>
                          <div class="product__content">
                            <h4 class="mb-15"><a class="primary-hover" href="shop-single.html">Disposable Sub-Ohm Tank</a></h4>
                            <del>$74.50</del><span class="primary-color ml-10">$49.50</span>
                            <div class="star mt-20">
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                            </div>
                          </div>
                          <a class="product__cart d-block bor-top" href="#0">
                            <i class="fa-regular fa-cart-shopping primary-color me-1"></i>
                            <span>Add to cart</span>
                          </a>
                        </div>
                      </div>
                      
                      <div class="col-xxl-3 col-xl-4 col-md-6">
                        <div class="product__item bor">
                          <a href="#0" class="wishlist"><i class="fa-regular fa-heart"></i></a>
                          <a href="shop-single.html" class="product__image pt-20 d-block">
                            <%= image_tag('product/product-image3.png', class: 'font-image', alt: 'image') %>
                            <%= image_tag('product/product-image5.png', class: 'back-image', alt: 'image') %>
                          </a>
                          <div class="product__content">
                            <h4 class="mb-15"><a class="primary-hover" href="shop-single.html">POP Extra Strawberry</a></h4>
                            <del>$74.50</del><span class="primary-color ml-10">$49.50</span>
                            <div class="star mt-20">
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                            </div>
                          </div>
                          <a class="product__cart d-block bor-top" href="#0">
                            <i class="fa-regular fa-cart-shopping primary-color me-1"></i>
                            <span>Add to cart</span>
                          </a>
                        </div>
                      </div>
                      
                      <div class="col-xxl-3 col-xl-4 col-md-6">
                        <div class="product__item bor">
                          <a href="#0" class="wishlist"><i class="fa-regular fa-heart"></i></a>
                          <a href="shop-single.html" class="product__image pt-20 d-block">
                            <%= image_tag('product/product-image4.png', class: 'font-image', alt: 'image') %>
                            <%= image_tag('product/product-image6.png', class: 'back-image', alt: 'image') %>
                          </a>
                          <div class="product__content">
                            <h4 class="mb-15"><a class="primary-hover" href="shop-single.html">Battery And Charger Kit</a></h4>
                            <del>$74.50</del><span class="primary-color ml-10">$49.50</span>
                            <div class="star mt-20">
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                            </div>
                          </div>
                          <a class="product__cart d-block bor-top" href="#0">
                            <i class="fa-regular fa-cart-shopping primary-color me-1"></i>
                            <span>Add to cart</span>
                          </a>
                        </div>
                      </div>
                      
                      <div class="col-xxl-3 col-xl-4 col-md-6">
                        <div class="product__item bor">
                          <a href="#0" class="wishlist"><i class="fa-regular fa-heart"></i></a>
                          <a href="shop-single.html" class="product__image pt-20 d-block">
                            <%= image_tag('product/product-image5.png', class: 'font-image', alt: 'image') %>
                            <%= image_tag('product/product-image3.png', class: 'back-image', alt: 'image') %>
                          </a>
                          <div class="product__content">
                            <h4 class="mb-15"><a class="primary-hover" href="shop-single.html">Pods Sold Separately</a></h4>
                            <del>$74.50</del><span class="primary-color ml-10">$49.50</span>
                            <div class="star mt-20">
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                            </div>
                          </div>
                          <a class="product__cart d-block bor-top" href="#0">
                            <i class="fa-regular fa-cart-shopping primary-color me-1"></i>
                            <span>Add to cart</span>
                          </a>
                        </div>
                      </div>
                      
                      <div class="col-xxl-3 col-xl-4 col-md-6">
                      <div class="product__item bor">
                        <a href="#0" class="wishlist"><i class="fa-regular fa-heart"></i></a>
                        <a href="shop-single.html" class="product__image pt-20 d-block">
                          <%= image_tag('product/product-image6.png', class: 'font-image', alt: 'image') %>
                          <%= image_tag('product/product-image4.png', class: 'back-image', alt: 'image') %>
                        </a>
                        <div class="product__content">
                          <h4 class="mb-15"><a class="primary-hover" href="shop-single.html">GeekVape Obelisk Pod</a></h4>
                          <del>$74.50</del><span class="primary-color ml-10">$49.50</span>
                          <div class="star mt-20">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                          </div>
                        </div>
                        <a class="product__cart d-block bor-top" href="#0">
                          <i class="fa-regular fa-cart-shopping primary-color me-1"></i>
                          <span>Add to cart</span>
                        </a>
                      </div>
                    </div>
                    
                    <div class="col-xxl-3 col-xl-4 col-md-6">
                      <div class="product__item bor">
                        <a href="#0" class="wishlist"><i class="fa-regular fa-heart"></i></a>
                        <a href="shop-single.html" class="product__image pt-20 d-block">
                          <%= image_tag('product/product-image7.png', class: 'font-image', alt: 'image') %>
                          <%= image_tag('product/product-image4.png', class: 'back-image', alt: 'image') %>
                        </a>
                        <div class="product__content">
                          <h4 class="mb-15"><a class="primary-hover" href="shop-single.html">POP Extra Strawberry</a></h4>
                          <del>$74.50</del><span class="primary-color ml-10">$49.50</span>
                          <div class="star mt-20">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                          </div>
                        </div>
                        <a class="product__cart d-block bor-top" href="#0">
                          <i class="fa-regular fa-cart-shopping primary-color me-1"></i>
                          <span>Add to cart</span>
                        </a>
                      </div>
                    </div>
                    
                    <div class="col-xxl-3 col-xl-4 col-md-6">
                      <div class="product__item bor">
                        <a href="#0" class="wishlist"><i class="fa-regular fa-heart"></i></a>
                        <a href="shop-single.html" class="product__image pt-20 d-block">
                          <%= image_tag('product/product-image8.png', class: 'font-image', alt: 'image') %>
                          <%= image_tag('product/product-image4.png', class: 'back-image', alt: 'image') %>
                        </a>
                        <div class="product__content">
                          <h4 class="mb-15"><a class="primary-hover" href="shop-single.html">100ml Nic Salt Juice</a></h4>
                          <del>$74.50</del><span class="primary-color ml-10">$49.50</span>
                          <div class="star mt-20">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                          </div>
                        </div>
                        <a class="product__cart d-block bor-top" href="#0">
                          <i class="fa-regular fa-cart-shopping primary-color me-1"></i>
                          <span>Add to cart</span>
                        </a>
                      </div>
                    </div>
                    
                        </div>
                    </div>
                    <div id="top-ratting" class="tab-pane fade">
  <div class="row g-4">
    <div class="col-xxl-3 col-xl-4 col-md-6">
      <div class="product__item bor">
        <a href="#0" class="wishlist"><i class="fa-regular fa-heart"></i></a>
        <a href="shop-single.html" class="product__image pt-20 d-block">
          <%= image_tag('product/product-image4.png', class: 'font-image', alt: 'image') %>
          <%= image_tag('product/product-image6.png', class: 'back-image', alt: 'image') %>
        </a>
        <div class="product__content">
          <h4 class="mb-15"><a class="primary-hover" href="shop-single.html">Battery And Charger Kit</a></h4>
          <del>$74.50</del><span class="primary-color ml-10">$49.50</span>
          <div class="star mt-20">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
        </div>
        <a class="product__cart d-block bor-top" href="#0">
          <i class="fa-regular fa-cart-shopping primary-color me-1"></i>
          <span>Add to cart</span>
        </a>
      </div>
    </div>

    <div class="col-xxl-3 col-xl-4 col-md-6">
      <div class="product__item bor">
        <a href="#0" class="wishlist"><i class="fa-regular fa-heart"></i></a>
        <a href="shop-single.html" class="product__image pt-20 d-block">
          <%= image_tag('product/product-image5.png', class: 'font-image', alt: 'image') %>
          <%= image_tag('product/product-image3.png', class: 'back-image', alt: 'image') %>
        </a>
        <div class="product__content">
          <h4 class="mb-15"><a class="primary-hover" href="shop-single.html">Pods Sold Separately</a></h4>
          <del>$74.50</del><span class="primary-color ml-10">$49.50</span>
          <div class="star mt-20">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
        </div>
        <a class="product__cart d-block bor-top" href="#0">
          <i class="fa-regular fa-cart-shopping primary-color me-1"></i>
          <span>Add to cart</span>
        </a>
      </div>
    </div>

    <div class="col-xxl-3 col-xl-4 col-md-6">
      <div class="product__item bor">
        <a href="#0" class="wishlist"><i class="fa-regular fa-heart"></i></a>
        <a href="shop-single.html" class="product__image pt-20 d-block">
          <%= image_tag('product/product-image6.png', class: 'font-image', alt: 'image') %>
          <%= image_tag('product/product-image4.png', class: 'back-image', alt: 'image') %>
        </a>
        <div class="product__content">
          <h4 class="mb-15"><a class="primary-hover" href="shop-single.html">GeekVape Obelisk Pod</a></h4>
          <del>$74.50</del><span class="primary-color ml-10">$49.50</span>
          <div class="star mt-20">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
        </div>
        <a class="product__cart d-block bor-top" href="#0">
          <i class="fa-regular fa-cart-shopping primary-color me-1"></i>
          <span>Add to cart</span>
        </a>
      </div>
    </div>

    <div class="col-xxl-3 col-xl-4 col-md-6">
      <div class="product__item bor">
        <a href="#0" class="wishlist"><i class="fa-regular fa-heart"></i></a>
        <a href="shop-single.html" class="product__image pt-20 d-block">
          <%= image_tag('product/product-image7.png', class: 'font-image', alt: 'image') %>
          <%= image_tag('product/product-image4.png', class: 'back-image', alt: 'image') %>
        </a>
        <div class="product__content">
          <h4 class="mb-15"><a class="primary-hover" href="shop-single.html">POP Extra Strawberry</a></h4>
          <del>$74.50</del><span class="primary-color ml-10">$49.50</span>
          <div class="star mt-20">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
        </div>
        <a class="product__cart d-block bor-top" href="#0">
          <i class="fa-regular fa-cart-shopping primary-color me-1"></i>
          <span>Add to cart</span>
        </a>
      </div>
    </div>

    <div class="col-xxl-3 col-xl-4 col-md-6">
      <div class="product__item bor">
        <a href="#0" class="wishlist"><i class="fa-regular fa-heart"></i></a>
        <a href="shop-single.html" class="product__image pt-20 d-block">
          <%= image_tag('product/product-image8.png', class: 'font-image', alt: 'image') %>
          <%= image_tag('product/product-image4.png', class: 'back-image', alt: 'image') %>
        </a>
        <div class="product__content">
          <h4 class="mb-15"><a class="primary-hover" href="shop-single.html">100ml Nic Salt Juice</a></h4>
          <del>$74.50</del><span class="primary-color ml-10">$49.50</span>
          <div class="star mt-20">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
        </div>
        <a class="product__cart d-block bor-top" href="#0">
          <i class="fa-regular fa-cart-shopping primary-color me-1"></i>
          <span>Add to cart</span>
        </a>
      </div>
    </div>
  </div>
</div>

<div id="featured-products" class="tab-pane fade">
<div class="row g-4">
    <div class="col-xxl-3 col-xl-4 col-md-6">
        <div class="product__item bor">
            <a href="#0" class="wishlist"><i class="fa-regular fa-heart"></i></a>
            <a href="shop-single.html" class="product__image pt-20 d-block">
                <%= image_tag('product/product-image1.png', class: 'font-image', alt: 'image') %>
                <%= image_tag('product/product-image3.png', class: 'back-image', alt: 'image') %>
            </a>
            <div class="product__content">
                <h4 class="mb-15"><a class="primary-hover" href="shop-single.html">Menthol E-Cigarette Kit</a></h4>
                <del>$74.50</del><span class="primary-color ml-10">$49.50</span>
                <div class="star mt-20">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>
            <a class="product__cart d-block bor-top" href="#0">
                <i class="fa-regular fa-cart-shopping primary-color me-1"></i>
                <span>Add to cart</span>
            </a>
        </div>
    </div>

    <div class="col-xxl-3 col-xl-4 col-md-6">
        <div class="product__item bor">
            <a href="#0" class="wishlist"><i class="fa-regular fa-heart"></i></a>
            <a href="shop-single.html" class="product__image pt-20 d-block">
                <%= image_tag('product/product-image2.png', class: 'font-image', alt: 'image') %>
                <%= image_tag('product/product-image4.png', class: 'back-image', alt: 'image') %>
            </a>
            <div class="product__content">
                <h4 class="mb-15"><a class="primary-hover" href="shop-single.html">Disposable Sub-Ohm Tank</a></h4>
                <del>$74.50</del><span class="primary-color ml-10">$49.50</span>
                <div class="star mt-20">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>
            <a class="product__cart d-block bor-top" href="#0">
                <i class="fa-regular fa-cart-shopping primary-color me-1"></i>
                <span>Add to cart</span>
            </a>
        </div>
    </div>

    <div class="col-xxl-3 col-xl-4 col-md-6">
        <div class="product__item bor">
            <a href="#0" class="wishlist"><i class="fa-regular fa-heart"></i></a>
            <a href="shop-single.html" class="product__image pt-20 d-block">
                <%= image_tag('product/product-image3.png', class: 'font-image', alt: 'image') %>
                <%= image_tag('product/product-image5.png', class: 'back-image', alt: 'image') %>
            </a>
            <div class="product__content">
                <h4 class="mb-15"><a class="primary-hover" href="shop-single.html">POP Extra Strawberry</a></h4>
                <del>$74.50</del><span class="primary-color ml-10">$49.50</span>
                <div class="star mt-20">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>
            <a class="product__cart d-block bor-top" href="#0">
                <i class="fa-regular fa-cart-shopping primary-color me-1"></i>
                <span>Add to cart</span>
            </a>
        </div>
    </div>

    <div class="col-xxl-3 col-xl-4 col-md-6">
        <div class="product__item bor">
            <a href="#0" class="wishlist"><i class="fa-regular fa-heart"></i></a>
            <a href="shop-single.html" class="product__image pt-20 d-block">
                <%= image_tag('product/product-image7.png', class: 'font-image', alt: 'image') %>
                <%= image_tag('product/product-image4.png', class: 'back-image', alt: 'image') %>
            </a>
            <div class="product__content">
                <h4 class="mb-15"><a class="primary-hover" href="shop-single.html">POP Extra Strawberry</a></h4>
                <del>$74.50</del><span class="primary-color ml-10">$49.50</span>
                <div class="star mt-20">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>
            <a class="product__cart d-block bor-top" href="#0">
                <i class="fa-regular fa-cart-shopping primary-color me-1"></i>
                <span>Add to cart</span>
            </a>
        </div>
    </div>

    <div class="col-xxl-3 col-xl-4 col-md-6">
        <div class="product__item bor">
            <a href="#0" class="wishlist"><i class="fa-regular fa-heart"></i></a>
            <a href="shop-single.html" class="product__image pt-20 d-block">
                <%= image_tag('product/product-image8.png', class: 'font-image', alt: 'image') %>
                <%= image_tag('product/product-image4.png', class: 'back-image', alt: 'image') %>
            </a>
            <div class="product__content">
                <h4 class="mb-15"><a class="primary-hover" href="shop-single.html">100ml Nic Salt Juice</a></h4>
                <del>$74.50</del><span class="primary-color ml-10">$49.50</span>
                <div class="star mt-20">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>
            <a class="product__cart d-block bor-top" href="#0">
                <i class="fa-regular fa-cart-shopping primary-color me-1"></i>
                <span>Add to cart</span>
            </a>
        </div>
    </div>
</div>
</div>

                </div>
            </div>
        </section>
        <!-- Product area end here -->

        <!-- Discount area start here -->
        <section class="discount-area bg-image" data-background="<%= asset_path('bg/discount-bg2.jpg') %>">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="image mb-5 mb-lg-0">
                            <%= image_tag('discount/discount-image2.png', alt: 'image') %>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="discount__item ps-0 pb-5 pb-lg-0 ps-lg-5">
                            <div class="section-header">
                                <div class="section-title-icon wow fadeInUp" data-wow-delay=".1s">
                                    <span class="title-icon mr-10"></span>
                                    <h2>Find Your Perfect Outfit</h2>
                                </div>
                                <p class="mt-30 mb-55 wow fadeInUp" data-wow-delay=".2s">
                                    Explore our wide selection of trendy clothes that fit every style and occasion. 
                                    <br>
                                    Shop now and enjoy the latest fashion at amazing prices.
                                </p>
                                <a class="btn-one wow fadeInUp" data-wow-delay=".3s" href="shop.html"><span>Shop Now</span></a>
                                <a class="off-btn wow fadeInUp" data-wow-delay=".4s" href="#0">
                                    <img class="mr-10" src="<%= asset_path('icon/fire.svg') %>" alt="icon">
                                    GET <span class="primary-color">25% OFF</span> NOW
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Discount area end here -->
        
        <!-- Get now area start here -->
        <section class="get-now-area pt-130 pb-130">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6">
                        <h4 class="mb-30 wow fadeInUp" data-wow-delay=".1s">
                            <%= image_tag('icon/fire.svg', alt: 'icon') %> 
                            GET <span class="primary-color">25% OFF</span> NOW
                        </h4>
                        <div class="section-header d-flex align-items-center wow fadeInUp" data-wow-delay=".2s">
                            <span class="title-icon mr-10"></span>
                            <h2>Latest Arrivals in Fashion</h2>
                        </div>
                        <div class="get-now__content">
                            <div class="get-info py-4 wow fadeInUp" data-wow-delay=".2s">
                                <del>$99.00</del> <span>$49.00</span>
                            </div>
                            <p class="fw-600 wow fadeInUp" data-wow-delay=".3s">
                                Discover the latest trends in clothing for every season. Upgrade your wardrobe with stylish outfits for every occasion.
                            </p>
                            <ul class="pt-30 pb-30 bor-bottom wow fadeInUp" data-wow-delay=".3s">
                                <li>100% Cotton & Eco-Friendly</li>
                                <li>Coupon $61.99, Code: FASHION25</li>
                                <li>30 Day Easy Returns</li>
                            </ul>
                            <div class="time-up d-flex flex-wrap align-items-center gap-5 mt-30 wow fadeInUp" data-wow-delay=".4s">
                                <div class="info">
                                    <h4>HURRY UP!</h4>
                                    <span>Offer ends in:</span>
                                </div>
                                <div class="d-flex gap-2 align-items-center">
                                    <div class="get-time">
                                        <h3 id="day">00</h3>
                                        <span>Day</span>
                                    </div>
                                    <div class="get-time">
                                        <h3 id="hour">00</h3>
                                        <span>Hr</span>
                                    </div>
                                    <div class="get-time">
                                        <h3 id="min">00</h3>
                                        <span>Min</span>
                                    </div>
                                    <div class="get-time">
                                        <h3 id="sec">00</h3>
                                        <span>Sec</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="get-now__image mt-5 mt-xl-0">
                            <div class="get-bg-image">
                                <%= image_tag('shop/get-bg.png', alt: 'background image') %>
                            </div>
                            <div class="swiper get__slider">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="image">
                                            <%= image_tag('shop/get-image.png', alt: 'image 1') %>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="image">
                                            <%= image_tag('shop/get-image2.png', alt: 'image 2') %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="get-now-arry get-now__arry-left">
                                <i class="fa-light fa-chevron-left"></i>
                            </button>
                            <button class="get-now-arry get-now__arry-right text-warning">
                                <i class="fa-light fa-chevron-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Get now area end here -->
        

        <!-- Text slider area start here -->
        <div class="container">
            <div class="bor-top pb-40"></div>
        </div>
        <div class="marquee-wrapper text-slider">
            <div class="marquee-inner to-left">
                <ul class="marqee-list d-flex">
                    <li class="marquee-item">
                        <span>Men's Apparel</span> <%= image_tag('icon/title-left.svg', alt: 'icon') %> 
                        <span>Women's Clothing</span> <%= image_tag('icon/title-left.svg', alt: 'icon') %> 
                        <span>Accessories</span> <%= image_tag('icon/title-left.svg', alt: 'icon') %> 
                        <span>Footwear</span> <%= image_tag('icon/title-left.svg', alt: 'icon') %> 
                        <span>Activewear</span> <%= image_tag('icon/title-left.svg', alt: 'icon') %> 
                        <span>Kids Clothing</span> <%= image_tag('icon/title-left.svg', alt: 'icon') %> 
                        <span>Men's Apparel</span> <%= image_tag('icon/title-left.svg', alt: 'icon') %> 
                        <span>Women's Clothing</span> <%= image_tag('icon/title-left.svg', alt: 'icon') %> 
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="bor-top pb-65"></div>
        </div>
        <!-- Text slider area end here -->
        

        <!-- Gallery area start here -->
        <section class="gallery-area">
            <div class="swiper gallery__slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="gallery__item">
                            <div class="off-tag">50% <br>
                                off</div>
                            <div class="gallery__image image">
                                <img src="assets/images/gallery/gallery-image1.jpg" alt="image">
                            </div>
                            <div class="gallery__content">
                                <h3 class="mb-10"><a href="shop-2.html">best e-lequid</a></h3>
                                <p>Best E liquids from our huge collection</p>
                                <a href="shop-2.html" class="btn-two mt-25"><span>Shop Now</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__item">
                            <div class="off-tag">50% <br>
                                off</div>
                            <div class="gallery__image image">
                                <img src="assets/images/gallery/gallery-image2.jpg" alt="image">
                            </div>
                            <div class="gallery__content">
                                <h3 class="mb-10"><a href="shop-2.html">best vape flavours</a></h3>
                                <p>Best E liquids from our huge collection</p>
                                <a href="shop-2.html" class="btn-two mt-25"><span>Shop Now</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__item">
                            <div class="off-tag">50% <br>
                                off</div>
                            <div class="gallery__image image">
                                <img src="assets/images/gallery/gallery-image3.jpg" alt="image">
                            </div>
                            <div class="gallery__content">
                                <h3 class="mb-10"><a href="shop-2.html">Battery And Charger Kit</a></h3>
                                <p>Best E liquids from our huge collection</p>
                                <a href="shop-2.html" class="btn-two mt-25"><span>Shop Now</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__item">
                            <div class="off-tag">50% <br>
                                off</div>
                            <div class="gallery__image image">
                                <img src="assets/images/gallery/gallery-image4.jpg" alt="image">
                            </div>
                            <div class="gallery__content">
                                <h3 class="mb-10"><a href="shop-2.html">best vape tanks</a></h3>
                                <p>Best E liquids from our huge collection</p>
                                <a href="shop-2.html" class="btn-two mt-25"><span>Shop Now</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__item">
                            <div class="off-tag">50% <br>
                                off</div>
                            <div class="gallery__image image">
                                <img src="assets/images/gallery/gallery-image5.jpg" alt="image">
                            </div>
                            <div class="gallery__content">
                                <h3 class="mb-10"><a href="shop-2.html">POP Extra Strawberry</a></h3>
                                <p>Best E liquids from our huge collection</p>
                                <a href="shop-2.html" class="btn-two mt-25"><span>Shop Now</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Gallery area end here -->

        <!-- Brand area start here -->
<section class="brand-area pt-130 pb-130">
    <div class="container">
        <div class="sub-title text-center mb-65">
            <h3><span class="title-icon"></span> Our Top Brands <span class="title-icon"></span></h3>
        </div>
        <div class="swiper brand__slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="brand__item bor radius-10 text-center p-4">
                        <%= image_tag('brand/brand1.png', alt: 'brand') %>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="brand__item bor radius-10 text-center p-4">
                        <%= image_tag('brand/brand2.png', alt: 'brand') %>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="brand__item bor radius-10 text-center p-4">
                        <%= image_tag('brand/brand3.png', alt: 'brand') %>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="brand__item bor radius-10 text-center p-4">
                        <%= image_tag('brand/brand4.png', alt: 'brand') %>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="brand__item bor radius-10 text-center p-4">
                        <%= image_tag('brand/brand5.png', alt: 'brand') %>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="brand__item bor radius-10 text-center p-4">
                        <%= image_tag('brand/brand6.png', alt: 'brand') %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Brand area end here -->

    </main>

    <!-- Footer area start here -->
    <footer class="footer-area bg-image" data-background="<%= image_path('footer/footer-bg.jpg') %>">
        <div class="container">
            <div class="footer__wrp pt-65 pb-65 bor-top bor-bottom">
                <div class="row g-4">
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-duration="1.1s" data-wow-delay=".1s">
                        <div class="footer__item">
                            <h4 class="footer-title">Customer Service</h4>
                            <ul>
                                <li><a href="contact.html"><span></span>Help Portal</a></li>
                                <li><a href="contact.html"><span></span>Contact Us</a></li>
                                <li><a href="error.html"><span></span>Delivery Information</a></li>
                                <li><a href="error.html"><span></span>Click and Collect</a></li>
                                <li><a href="error.html"><span></span>Refunds and Returns</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".2s">
                        <div class="footer__item">
                            <h4 class="footer-title">Get to Know Us</h4>
                            <ul>
                                <li><a href="about.html"><span></span>About Us</a></li>
                                <li><a href="blog-grid.html"><span></span>News & Blog</a></li>
                                <li><a href="error.html"><span></span>Careers</a></li>
                                <li><a href="error.html"><span></span>Investors</a></li>
                                <li><a href="contact.html"><span></span>Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay=".3s">
                        <div class="footer__item">
                            <h4 class="footer-title">Vapes New Collections</h4>
                            <ul>
                                <li><a href="shop.html"><span></span>E-Cigarettes</a></li>
                                <li><a href="shop.html"><span></span>Vape Pens</a></li>
                                <li><a href="shop.html"><span></span>Pod Systems</a></li>
                                <li><a href="shop.html"><span></span>Disposable Vapes</a></li>
                                <li><a href="shop.html"><span></span>Nicotine Salt Devices</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-duration="1.4s" data-wow-delay=".4s">
                        <div class="footer__item newsletter">
                            <h4 class="footer-title">Get Newsletter</h4>
                            <div class="subscribe">
                                <input type="email" placeholder="Your Email">
                                <button><i class="fa-solid fa-paper-plane"></i></button>
                            </div>
                            <div class="social-icon mt-40">
                                <a href="#0"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#0"><i class="fa-brands fa-twitter"></i></a>
                                <a href="#0"><i class="fa-brands fa-linkedin-in"></i></a>
                                <a href="#0"><i class="fa-brands fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__copy-text pt-50 pb-50">
                <a href="index.html" class="logo d-block">
                    <%= image_tag('logo/logo.svg', alt: 'logo') %>
                </a>
                <p>&copy; Copyright 2023 <a href="#0" class="primary-hover">Odor</a> All Rights Reserved</p>
                <a href="#0" class="payment d-block image">
                    <%= image_tag('icon/payment.png', alt: 'payment methods') %>
                </a>
            </div>
        </div>
    </footer>
    <!-- Footer area end here -->
    

    <!-- Back to top area start here -->
    <div class="scroll-up">
        <svg class="scroll-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- Back to top area end here -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <%= javascript_include_tag 'jquery-3.7.1.min', 'bootstrap.min', 'swiper-bundle.min', 
                           'jquery.counterup.min', 'wow.min', 'magnific-popup.min', 
                           'nice-select.min', 'pace.min', 'isotope.pkgd.min', 
                           'jquery.waypoints', 'script', 
                           'data-turbo-track': 'reload' %>

</body>

</html>